/* The code on lines 2-4 centers the text of all h1's on the page.*/
h1{color: #a35c5c;
  text-align:center}

/*The code on lines 6-11 centers all images on the page and gives them a width of 50px.*/
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
/*  height: 450px;
  width:450px;
  */
  width: 75%;
}

/* .h2{ */
/* The code on lines 14-16 centers the text of all h2's on the page*/
h2{
    color: #a35c5c;
  text-align:center;
}

/* The code on lines 19-22 aligns all the sections horizontally on the bottom*/
.sectionsContainer{
    display:flex;
  flex-direction: column;
    justify-content:space-between;
}

/* The code on lines 25-28 gives  a solid black border to section and puts space between them (the margin) */
.section1{
    
    border: 5px solid #e89b9b;
    margin:2px;
  padding: 40px;
  
}

.section2{
    border: 5px solid #e89b9b;
    margin:2px;
  padding: 40px;
}

.section3{
    border: 5px solid #e89b9b;
    margin:2px;
  padding: 40px;
}

.section4{
    border: 5px solid #e89b9b;
    margin:2px;
  padding: 40px;
}

body{
  background: #bfd0f7;
}

